.jumbotron {
  background: url('/assets/food-background.jpg');
  background-size: cover;
  border-radius: 0;
}

.jumbotron-heading, p.lead {
  color: white;
  text-shadow: 2px 2px 5px #000000;
}

.card {
  margin-bottom: 2em;
  width: 18em;
}